<img class="m-auto shadow-md rounded-lg" src="../../../../assets/Images/yo16x16.jpg" width="272" height="272">
<h1 class="text-center font-semibold text-[24px] mt-2">Guia Leandro Emanuel</h1>
<div class="mt-2 ps-16">
  <div class="flex items-center">
    <img src="../../../../assets/Icons/light_mode/phonex48.png" width="31" height="31" class="opacity-50">
    <p class="ms-1 font-semibold text-[16px]">011 6852-9009</p>
  </div>

  <div class="flex items-center">
    <img src="../../../../assets/Icons/light_mode/userx48.png" width="31" height="31" class="opacity-50">
    <p class="ms-1 font-semibold text-[16px]">22 años</p>
  </div>

  <div class="flex items-center">
    <img src="../../../../assets/Icons/light_mode/mailx48.png" width="31" height="31" class="opacity-50">
    <p class="ms-1 font-semibold text-[16px]">leandro.guia.dev&commat;gmail.com</p>
  </div>

  <hr class="my-2 me-4 border-2 rounded-full border-black border-opacity-30">

  <div class="flex items-center">
    <img src="../../../../assets/Icons/light_mode/edux48.png" width="31" height="31" class="opacity-50">
    <label class="ms-1 font-semibold text-[16px]">Tec. programación - UTN (avanzado)</label>        
  </div>

  <div class="flex items-center">
    <img src="../../../../assets/Icons/light_mode/edux48.png" width="31" height="31" class="opacity-50">
    <label class="ms-1 font-semibold text-[16px]">Inglés: B1</label>        
  </div>

  <hr class="my-2 me-4 border-2 rounded-full border-black border-opacity-30">
  
  <div class="flex items-center">
    <img src="../../../../assets/Icons/light_mode/githubx50.png" width="26" height="26" class="opacity-50 ms-[2px]">
    <a href="https://github.com/leanx22" target="_blank" class="ms-2 font-semibold text-[16px]">GitHub</a>
  </div>
  
  <div class="flex items-center mt-1">
    <img src="../../../../assets/Icons/light_mode/webx50.png" width="26" height="26" class="opacity-50 ms-[2px]">
    <a href="https://github.com/leanx22" target="_blank" class="ms-2 font-semibold text-[16px]">MiWeb</a>
  </div>

</div>
